<template>
  <div id="app">
    <el-form
      :model="lanForm"
      status-icon
      :rules="rules"
      ref="lanForm"
      label-width="100px"
    >
      <div class="title">局域网设置</div>
      <el-form-item label="内网地址：" prop="address">
        <el-input
          type="input"
          v-model="lanForm.address"
          autocomplete="off"
        ></el-input>
      </el-form-item>
      <el-form-item label="子网掩码：" prop="subnetMask">
        <el-input
          type="input"
          v-model="lanForm.subnetMask"
          autocomplete="off"
        ></el-input>
      </el-form-item>
      <el-form-item label="DHCP服务器：">
        <el-switch
          v-model="lanForm.hasDHCP"
          active-color="#0b51a3"
          inactive-color="#dcdfe6"
        >
        </el-switch>
      </el-form-item>
      <el-form-item label="地址池开始：" prop="poolStart">
        <el-input
          type="input"
          v-model="lanForm.poolStart"
          autocomplete="off"
        ></el-input>
      </el-form-item>

      <el-form-item label="地址池结束：" prop="poolEnd">
        <el-input
          type="input"
          v-model="lanForm.poolEnd"
          autocomplete="off"
        ></el-input>
      </el-form-item>

      <div class="title">访客网络地址池</div>
      <el-form-item label="地址池开始：" prop="guestPoolStart">
        <el-input
          type="input"
          v-model="lanForm.guestPoolStart"
          autocomplete="off"
          disabled
        ></el-input>
      </el-form-item>

      <el-form-item label="地址池结束：" prop="guestPoolEnd">
        <el-input
          type="input"
          v-model="lanForm.guestPoolEnd"
          autocomplete="off"
          disabled
        ></el-input>
      </el-form-item>
      <el-form-item style="margin-left: 170px">
        <el-button type="primary" @click="submitForm('lanForm')"
          >应用</el-button
        >
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import axios from "axios";
import qs from "qs";
export default {
  data() {
    // 判断ip是否合法
    var validateAddress = (rule, value, callback) => {
      this.isNull(value,"内网地址",callback);
      // 判断IP格式是否正确
      let addressReg = /^(((\d{1,2})|(1\d{1,2})|(2[0-4]\d)|(25[0-5]))\.){3}((\d{1,2})|(1\d{1,2})|(2[0-4]\d)|(25[0-5]))$/;
      this.isValue("address",value,addressReg,callback);
    };

    // 判断掩码是否合法
    var validateSubnetMask = (rule, value, callback) => {
      this.isNull(value,"子网掩码",callback);
      let maskReg = /^(252|248|240|224|192|128)\.0\.0\.0$|^(255\.(254|252|248|240|224|192|128|0)\.0\.0)$|^(255\.255\.(254|252|248|240|224|192|128|0)\.0)$|^(255\.255\.255\.(254|252|248|240|224|192|128|0))$/;
      this.isValue("mask",value,maskReg,callback);

      this.lanForm.guestAddress = this.handleAddress(value,this.lanForm.subnetMask);
      callback();
    };

    // 判断地址池的地址是否合法
    var validatePoolStart = (rule, value, callback) => {
      this.isNull(value,"地址",callback);
      this.isRange(value,"开始",callback);
      this.lanForm.guestPoolStart = this.handleAddress(value,this.lanForm.subnetMask);
      callback();
    };

    // 判断地址池的地址是否合法
    var validatePoolEnd = (rule, value, callback) => {
      this.isNull(value,"地址",callback);
      this.isRange(value,"结束",callback);
      this.lanForm.guestPoolEnd = this.handleAddress(value,this.lanForm.subnetMask);
      callback();
    };
    return {
      lanForm: {
        address: "192.168.1.1",
        subnetMask: "255.255.255.0",
        hasDHCP: true,
        poolStart: "192.168.1.100",
        poolEnd: "192.168.1.200",
        guestAddress:"192.168.2.1",
        guestPoolStart:"192.168.2.100",
        guestPoolEnd:"192.168.2.200",
        networkAddress: "",
        broadcastAddress: "",
      },
      rules: {
        address: [
          {
            validator: validateAddress,
            trigger: "change",
          },
        ],
        subnetMask: [
          {
            validator: validateSubnetMask,
            trigger: "change",
          },
        ],
        poolStart: [
          {
            validator: validatePoolStart,
            trigger: "blur",
          },
        ],
        poolEnd: [
          {
            validator: validatePoolEnd,
            trigger: "blur",
          },
        ],
      },
      public:{
        _: 1649678193445,
      },
      formDate: {
          guest: "lan2",
          wan_name: "wan",
          name: "route",
          lan_isolation: 1,
          host: "lan1",
          network: {
            lan1: {
              mac: "",
              proto: "static",
              dhcpd: {
                enabled: 1,
                leasetime: "24h",
                end: "192.168.88.200",
                start: "192.168.88.100",
                staticlease: {},
                dynamicdhcp: 1,
                dns: "",
              },
              zone: "lan1",
              ports: [2, 3],
              type: "bridge",
              pppoe_account: "",
              metric: 1,
              static_dns: "",
              pppoe_mtu: "",
              pppoe_password: "",
              ports_ifname: "eth0.2 eth0.3",
              gateway: "",
              dhcp_mtu: "",
              static_mtu: "",
              ipaddr: "192.168.88.1/24",
            },
            lan2: {
              mac: "",
              proto: "static",
              dhcpd: {
                enabled: 1,
                leasetime: "24h",
                end: "192.168.89.200",
                start: "192.168.89.100",
                staticlease: {},
                dynamicdhcp: 1,
                dns: "",
              },
              zone: "lan2",
              ports: [4],
              type: "bridge",
              pppoe_account: "",
              metric: 1,
              static_dns: "",
              pppoe_mtu: "",
              pppoe_password: "",
              ports_ifname: "eth0.4",
              gateway: "",
              dhcp_mtu: "",
              static_mtu: "",
              ipaddr: "192.168.89.1/24",
            },
            wan: {
              dhcpd: {
                enabled: 0,
                leasetime: "12h",
                dns: "",
                end: "",
                start: "",
                staticlease: {},
                dynamicdhcp: 1,
              },
              zone: "wan",
              pppoe_account: "",
              metric: 1,
              dhcp_mtu: "",
              mac: "14:79:c3:14:0d:a1",
              proto: "dhcp",
              ports: [1],
              ipaddr: "",
              pppoe_mtu: "",
              pppoe_password: "",
              type: "bridge",
              gateway: "",
              ports_ifname: "eth0.1",
              static_mtu: "",
              pppoe_dns: "",
              dhcp_dns: "",
              static_dns: "",
            },
            wan_usb: {
              dhcpd: {
                enabled: 0,
                leasetime: "12h",
                dns: "",
                end: "",
                start: "",
                staticlease: {},
                dynamicdhcp: 1,
              },
              zone: "wan",
              pppoe_account: "",
              wan4g: { wan4g_enable: "1", wan4g_select: "0" },
              metric: 1,
              dhcp_mtu: "",
              mac: "",
              proto: "dhcp",
              ports: [5],
              pppoe_mtu: "",
              pppoe_password: "",
              type: "bridge",
              gateway: "",
              ports_ifname: "eth1",
              static_mtu: "",
              ipaddr: "",
              dhcp_dns: "",
              static_dns: "",
            },
            wan6_usb: {
              dhcpd: {
                enabled: 0,
                leasetime: "12h",
                dns: "",
                end: "",
                start: "",
                staticlease: {},
                dynamicdhcp: 1,
              },
              zone: "wan",
              pppoe_account: "",
              metric: 1,
              dhcp_mtu: "",
              mac: "",
              type: "bridge",
              ports: [6],
              pppoe_mtu: "",
              pppoe_password: "",
              proto: "dhcpv6",
              gateway: "",
              ports_ifname: "eth1",
              static_mtu: "",
              ipaddr: "",
              dhcp_dns: "",
              static_dns: "",
            },
          },
      },
      errMessage: "",
    };
  },
  // computed: {
  //   guestAddress(){
  //     return this.handleAddress(this.lanForm.address,this.lanForm.subnetMask);
  //   },
  //   guestPoolStart() {  
  //     return this.handleAddress(this.lanForm.poolStart,this.lanForm.subnetMask);
  //   },
  //   guestPoolEnd() { 
  //     return this.handleAddress(this.lanForm.poolEnd,this.lanForm.subnetMask);
  //   },
  // },
  created(){
    this.getInfo();
  },
  methods: {
    // 提交表单
    submitForm(lanForm) {
      // 更新表单数据
      this.formDate.network.lan1.ipaddr = this.lanForm.address;
      const len = this.getBinary(this.lanForm.subnetMask).split(0).length - 1;
      this.formDate.network.lan1.ipaddr += `/${32 - len}`;
      this.formDate.network.lan1.dhcpd.enabled = +this.lanForm.hasDHCP;
      this.formDate.network.lan1.dhcpd.start = this.lanForm.poolEnd;
      this.formDate.network.lan1.dhcpd.end = this.lanForm.poolEnd;
      this.formDate.network.lan2.ipaddr = `${this.lanForm.guestAddress}/${32-len}`
      this.formDate.network.lan2.dhcpd.start = this.lanForm.guestPoolStart;
      this.formDate.network.lan2.dhcpd.end = this.lanForm.guestPoolEnd;
      // 看是否校验成功，发送请求
      this.$refs[lanForm].validate((valid) => {
        if (valid) {
          const data = {
            arg: JSON.stringify(this.formDate)
          }
          axios({
            url:"/api/iface_set?token=0229a95c300e6041fb1b2a154f55c0dd",
            data:qs.stringify(Object.assign(this.public,data)),
            headers:{
              'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
              'X-Requested-With':'XMLHttpRequest'
            },
            method:"post"
          }).then((res) => {
              if(res.data.status === 0){
                this.success();
                this.getInfo();
              }else if(res.data.status === 1){
                this.errMessage = res.data.data;
                this.err();
              }
            });
        } else {
          this.err();
          return false;
        }
      });
    },
    // 提交成功的回调
    success() {
      this.$notify({
        title: "成功",
        message: "应用成功",
        type: "success",
        position: "bottom-right",
      });
    },
    // 提交错误的回调
    err() {
      this.$notify.error({
        title: "错误",
        message: this.errMessage,
        position: "bottom-right",
      });
    },
    /**
     * 处理ip地址池的函数
     * @param {*} value
     * @returns
     */
    handleAddress(value,mask) {
    let addressBinary = this.getBinary(value);
    let maskBinary = this.getBinary(mask);
    let len =  maskBinary.split(0).length - 1;
    len = 32 - len;
    let subAddressBinary = addressBinary.slice(0,len);
    let newSubAddressBinary = (parseInt(subAddressBinary,2) + 1).toString(2);
    let resultBinary = addressBinary.replace(subAddressBinary,newSubAddressBinary);
    let newAddress = this.getIP(resultBinary);
    return newAddress;
    },

    /**
     * 根据子网掩码或ip地址获得二进制码
     * @param {*} value
     * @returns
     */
    getBinary(value) {
      let binary = "";
      let valueArr = value.split(".");

      for (let i = 0; i < valueArr.length; i++) {
        let subBinary = parseInt(valueArr[i]);
        subBinary = subBinary.toString(2);
        let count = 8 - subBinary.length;
        for (let j = 0; j < count; j++) {
          subBinary = "0" + subBinary;
        }
        binary += subBinary;
      }
      return binary;
    },

    /**
     * 将二进制转化为ip地址
     * @param {*} binary 二进制
     * @returns
     */
    getIP(binary) {
      let first = parseInt(binary.substr(0, 8), 2);
      let second = parseInt(binary.substr(8, 8), 2);
      let third = parseInt(binary.substr(16, 8), 2);
      let fourth = parseInt(binary.slice(-8), 2);

      return first + "." + second + "." + third + "." + fourth;
    },

    /**
     * 根据掩码和ip获得网络地址
     * @param {*} ip ip地址
     * @param {*} mask 子网掩码
     * @returns
     */
    getNetworkAddress(ip, mask) {
      let networkAddress = "";
      let maskArr = mask.split(".");
      let ipArr = ip.split(".");
      for (let i = 0; i < maskArr.length; i++) {
        let num1 = parseInt(maskArr[i]);
        let num2 = parseInt(ipArr[i]);
        networkAddress += num1 & num2;
        if (i < 3) {
          networkAddress += ".";
        }
      }
      return networkAddress;
    },

    /**
     * 根据掩码和ip获得广播地址
     * @param {*} ip ip地址
     * @param {*} mask 子网掩码
     * @returns
     */
    getBroadcastAddress(ip, mask) {
      let ipBinary = this.getBinary(ip);
      let maskBinary = this.getBinary(mask);
      let maskZeroLen = maskBinary.split(0).length - 1;
      let numberOne = new Array(maskZeroLen + 1).fill(1).join("");
      let broadcastAddressBinary = ipBinary.slice(0, -maskZeroLen) + numberOne;
      let broadcastAddress = this.getIP(broadcastAddressBinary);
      return broadcastAddress;
    },

    /**
     * 根据网络位还原子网掩码
     * @returns
     */
    getMask(bit){
      let mask = [];
      for(let i = 0;i < 4;i ++){
        let n = Math.min(bit,8);
        mask.push(256 - Math.pow(2,8-n));
        bit -= n;
      }
      return mask.join(".");
    },

    /**
     * 发送get请求获得表单数据
     * @returns
     */
    getInfo(){
      axios.get("/api/iface_get?token=0229a95c300e6041fb1b2a154f55c0dd&_=1649675370544").then(({data:{data:{network}}})=>{
        let addressArr = network.network.lan1.ipaddr.split("/");
        this.lanForm.address = addressArr[0];
        let mask = this.getMask(+addressArr[1]);
        this.lanForm.subnetMask = mask;
        this.lanForm.poolStart = network.network.lan1.dhcpd.start;
        this.lanForm.poolEnd = network.network.lan1.dhcpd.end;
        this.lanForm.guestAddress = network.network.lan2.ipaddr;
        this.lanForm.guestPoolStart = network.network.lan2.dhcpd.start;
        this.lanForm.guestPoolEnd = network.network.lan2.dhcpd.end;
      })
    },

    isValue(name,value,regRule,callback){
      let isTrue = regRule.test(value);
      if(!isTrue){
        this.errMessage = name === "address" ? "非法IP格式。": "掩码不在合法范围内。";
        return callback(new Error(this.errMessage));
      }
      if(name === "address"){
        // 判断开头格式是否正确
        let addressArr = value.split(".");
        let startReg = /^(([1-9]{1,2})|(1\d{1,2})|(2[0-1]\d)|(22[0-3]))$/;
        let isStart = startReg.test(addressArr[0]);
        if (!isStart || value === "1.0.0.0") {
          this.errMessage = "非法IP格式，请输入1-223开头的某个有效IP地址。";
          return callback(
          new Error(this.errMessage)
        );
      } else {
        if (value === this.lanForm.networkAddress || value === this.lanForm.broadcastAddress) {
          this.errMessage = "主机位不能全为0或1;IP地址错误或者子网掩码错误!";
          callback(new Error(this.errMessage));
        }
        this.updateAddress(this.lanForm.address,this.lanForm.subnetMask);
        callback();
      }}
      this.updateAddress(this.lanForm.address,this.lanForm.subnetMask);
    },

    /**
     * 更新网络地址和广播地址
     * @param {*} address ip地址
     * @param {*} subnetMask 子网掩码
     */
    updateAddress(address,subnetMask){
      this.lanForm.networkAddress = this.getNetworkAddress(address,subnetMask);
      this.lanForm.broadcastAddress = this.getBroadcastAddress(address,subnetMask);
    },

    /**
     * 判断值是否为空
     * @param {*} value 地址或掩码
     * @param {*} name 该模块名字
     * @param {*} callback 回调
     * @returns
     */
    isNull(value,name,callback){
      if(!value){
        this.errMessage = `${name}不能为空!`;
        return callback(new Error(this.errMessage));
      }
    },

    /**
     * 判断地址是否溢出
     * @param {*} adress 地址或掩码
     * @param {*} status 开始还是结束
     * @param {*} callback 回调
     * @returns
     */
    isRange(address,status,callback){
      let len = this.getBinary(this.lanForm.subnetMask).split(0).length - 1;
      let addressBinary = this.getBinary(this.lanForm.address).slice(0, -len);
      let poolStartBinary = this.getBinary(address).slice(0, -len);
      if (addressBinary !== poolStartBinary) {
        this.errMessage = `地址池${status}：非法IP地址。根据IP地址和子网掩码，该IP溢出DHCP分配范围。`;
        callback(
          new Error(this.errMessage)
        );
      }
    }
  },
};
</script>

<style>
#app {
  padding: 30px 50px;
}

.title {
  color: #0b51a3 !important;
  margin-bottom: 20px;
  font-size: 18px;
  font-family: Avenir;
  font-weight: 700;
}

.lan-container {
  width: 700px;
}

.lan-item span {
  display: inline-block;

  text-align: right;
  color: #3d3d3d;
  font-size: 16px;
  margin: 20px 0px;
  font-family: Avenir;
}

.el-form-item__label {
  width: 220px !important;
}

.el-input {
  width: 200px !important;
}

.el-form-item__error {
  left: 120px !important;
}

.btn {
  margin: 20px 0;
  margin-left: 224px;
}
</style>